
<img class="bg" src="https://images.unsplash.com/photo-1519354754184-e1d9c46182c0?ixlib=rb-0.3.5&s=4bb26f5d56bb3dadb5fe084428114597&auto=format&fit=crop&w=750&q=80" alt="">
<br><br>
<!--main content start-->
<div class="container">
    <div class="row">
        <div class="col-12 border border-primary rounded col-lg-12 back-img img-1">
            <div class="row ">
                <div class="col-6 mx-auto top-adjust">
                    <h2 class="text-center">ASIA</h2>
                    <a class="btn btn-info mt-4 d-block" [routerLink]="['/allCountry','region','asia']">
                     <h5>perceive more!</h5>
                    </a>
                </div>
            </div><!-- row end -->
        </div><!-- column end -->
    </div><!-- row end -->
    
    <div class="row row-adjust">
        <div class="col-12 border border-success rounded col-lg-12 back-img img-3">
            <div class="row ">
                <div class="col-6 mx-auto top-adjust">
                    <h2 class="text-center">AFRICA</h2>
                    <a class="btn btn-success mt-4 d-block" [routerLink]="['/allCountry','region','africa']">
                        <h5>perceive more!</h5>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- row end -->
    <div class="row row-adjust">
        <div class="col-12 border border-warning rounded col-lg-12 back-img img-4">
            <div class="row ">
                <div class="col-6 mx-auto top-adjust">
                    <h2 class="text-center">EUROPE</h2>
                    <a class="btn btn-warning mt-4 d-block" [routerLink]="['/allCountry','region','europe']">
                        <h5>perceive more!</h5>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- row end -->
    <div class="row row-adjust">
        <div class="col-12 border border-danger rounded col-lg-12 back-img img-2">
            <div class="row ">
                <div class="col-6 mx-auto top-adjust">
                    <h2 class="text-center">AMERICA</h2>
                    <a class="btn btn-danger mt-4 d-block" [routerLink]="['/allCountry','region','americas']">
                        <h5>perceive more!</h5>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- row end -->
    <div class="row row-adjust">
        <div class="col-12 border border-primary rounded col-lg-12 back-img img-5">
            <div class="row ">
                <div class="col-6 mx-auto top-adjust">
                    <h2 class="text-center">OCEANIA</h2>
                    <a class="btn btn-primary mt-4 d-block" [routerLink]="['/allCountry','region','oceania']">
                        <h5>perceive more!</h5>
                    </a>
                </div>
            </div><!-- row end -->
        </div><!-- column end -->
    </div><!-- row end -->
</div><!-- container end -->
